.palette-primary-light-green .footer,.palette-primary-light-green .header {
	background:#7cb342
}
.palette-primary-light-green .drawer .toc a.current,.palette-primary-light-green .drawer .toc a:focus,.palette-primary-light-green .drawer .toc a:hover {
	color:#7cb342
}
.palette-primary-light-green .drawer .anchor a {
	border-left:2px solid #7cb342
}
.palette-primary-light-green .article a,.palette-primary-light-green .article code,.palette-primary-light-green .article h1,.palette-primary-light-green .article h2 {
	color:#7cb342
}
.palette-primary-light-green .article .headerlink {
	color:rgba(0,0,0,.26)
}
.palette-primary-light-green .article table th {
	background:#9dc671
}
.palette-accent-teal .article a:focus,.palette-accent-teal .article a:hover {
	color:#00bfa5
}
.palette-accent-teal .repo a {
	background:#00bfa5
}
@media only screen and (max-width:959px) {
	.palette-primary-light-green .drawer .project {
	    background: #7cb342;
	}
}