<div class="admonition note beta-note">
<p class="admonition-title">Hinweis</p>
<p>Dieses Programm befindet sich unter aktiver Entwicklung und ist in einer Art beta-Phase. Daher können noch Fehler bei der Benutzung des Programms auftreten. Sie sollten daher ab und zu Sicherheitskopien der Fahrplan-Dateien anlegen, um Datenverlust vorzubeugen.</p><p>Wenn Sie einen Fehler im Programm bemerken, können sie diesen unter <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#064;&#109;&#097;&#110;&#117;&#101;&#108;&#104;&#117;&#046;&#100;&#101;?subject=[FPLedit]%20Bugreport">&#105;&#110;&#102;&#111;&#064;&#109;&#097;&#110;&#117;&#101;&#108;&#104;&#117;&#046;&#100;&#101;</a> melden.</p>
</div>
