$primary-color:             #7cb342;
$th-color:                  #9dc671;
$accent-color:              #00bfa5;
$headerlink-color:          rgba(0,0,0,.26);
$notice-link-color:         #bdff00;
$notice-link-hover-color:   #00ffdc;
